<!DOCTYPE html>
<html lang="it">
<head>

</head>
<body>
    <h1>CORSI DI FORMAZIONE</h1>
    
             <% richieste_corsi.forEach(function(list) { %>   
             <ul>
                        <li>Nome Corso:
                          <%=list.nomeCorso %>
                        </li>
                        <li>Istruttore:
                          <%=list.istruttore %>
                        </li>
                        <li>Data del Corso:
                          <%=list.inizio %>
                        </li>
                        <li>Requisiti:
                            <%=list.requisiti %>
                        </li>
                        <li>Descrizione:
                          <%=list.descrizione %>
                        </li>
                      </ul>
              
            <% }); %>

</body>

<div class="footer">
    <p>Croce Rossa Italiana - Comitato Locale Macerata (Marche)</p>
  </div>
</html>